In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/rohan/Desktop/Regression_model/FuelConsumption1.csv")
df.head(10)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
5,2014,ACURA,RLX,MID-SIZE,3.5,6,AS6,Z,11.9,7.7,10.0,28,230
6,2014,ACURA,TL,MID-SIZE,3.5,6,AS6,Z,11.8,8.1,10.1,28,232
7,2014,ACURA,TL AWD,MID-SIZE,3.7,6,AS6,Z,12.8,9.0,11.1,25,255
8,2014,ACURA,TL AWD,MID-SIZE,3.7,6,M6,Z,13.4,9.5,11.6,24,267
9,2014,ACURA,TSX,COMPACT,2.4,4,AS5,Z,10.6,7.5,9.2,31,212

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
MODELYEAR                   1067 non-null int64
MAKE                        1067 non-null object
MODEL                       1067 non-null object
VEHICLECLASS                1067 non-null object
ENGINESIZE                  1067 non-null float64
CYLINDERS                   1067 non-null int64
TRANSMISSION                1067 non-null object
FUELTYPE                    1067 non-null object
FUELCONSUMPTION_CITY        1067 non-null float64
FUELCONSUMPTION_HWY         1067 non-null float64
FUELCONSUMPTION_COMB        1067 non-null float64
FUELCONSUMPTION_COMB_MPG    1067 non-null int64
CO2EMISSIONS                1067 non-null int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.4+ KB

In [4]:
df.describe(include='all')

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067,1067,1067,1067.000000,1067.000000,1067,1067,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
unique,NaN,39,663,16,NaN,NaN,22,4,NaN,NaN,NaN,NaN,NaN
top,NaN,FORD,F150 FFV,MID-SIZE,NaN,NaN,A6,X,NaN,NaN,NaN,NaN,NaN
freq,NaN,90,8,178,NaN,NaN,222,514,NaN,NaN,NaN,NaN,NaN
mean,2014.0,NaN,NaN,NaN,3.346298,5.794752,NaN,NaN,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,NaN,NaN,NaN,1.415895,1.797447,NaN,NaN,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,NaN,NaN,NaN,1.000000,3.000000,NaN,NaN,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,NaN,NaN,NaN,2.000000,4.000000,NaN,NaN,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,NaN,NaN,NaN,3.400000,6.000000,NaN,NaN,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,NaN,NaN,NaN,4.300000,8.000000,NaN,NaN,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,NaN,NaN,NaN,8.400000,12.000000,NaN,NaN,30.200000,20.500000,25.800000,60.000000,488.000000

In [5]:
df.columns

Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')

In [6]:
X=df[['ENGINESIZE', 'CYLINDERS','FUELTYPE', 'FUELCONSUMPTION_CITY','FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB','FUELCONSUMPTION_COMB_MPG']].values
X[0:5]

array([[2.0, 4, 'Z', 9.9, 6.7, 8.5, 33],
       [2.4, 4, 'Z', 11.2, 7.7, 9.6, 29],
       [1.5, 4, 'Z', 6.0, 5.8, 5.9, 48],
       [3.5, 6, 'Z', 12.7, 9.1, 11.1, 25],
       [3.5, 6, 'Z', 12.1, 8.7, 10.6, 27]], dtype=object)

In [7]:
y=df[['CO2EMISSIONS']].values
y[0:5]

array([[196],
       [221],
       [136],
       [255],
       [244]], dtype=int64)

In [8]:
from sklearn import preprocessing
le_fueltype=preprocessing.LabelEncoder()
le_fueltype.fit(['X','Z','E','D'])
X[:,2]=le_fueltype.transform(X[:,2])
X[0:5]

array([[2.0, 4, 3, 9.9, 6.7, 8.5, 33],
       [2.4, 4, 3, 11.2, 7.7, 9.6, 29],
       [1.5, 4, 3, 6.0, 5.8, 5.9, 48],
       [3.5, 6, 3, 12.7, 9.1, 11.1, 25],
       [3.5, 6, 3, 12.1, 8.7, 10.6, 27]], dtype=object)

In [9]:
from sklearn.ensemble import GradientBoostingRegressor
GBR=GradientBoostingRegressor()
GBR_model=GBR.fit(X,y)
GBR_predictions=GBR_model.predict(X)
GBR_predictions[0:25]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([197.79441746, 220.43819738, 137.09838515, 256.16696945,
       244.82560072, 231.3183032 , 232.00297035, 256.16696945,
       265.45806936, 212.11672629, 225.34320669, 243.70442638,
       357.8800328 , 357.8800328 , 338.19558639, 355.32320094,
       338.19558639, 355.32320094, 357.8800328 , 202.47087597,
       228.01200129, 212.91170598, 228.01200129, 228.01200129,
       212.91170598])

In [10]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y,GBR_predictions)

1.6000069474122591

In [11]:
from sklearn.metrics import r2_score
r2_score(y,GBR_predictions)

0.9985517826501596